In [ ]:
#Q1Write a program to reverse a string.

In [1]:
string = str(input("Enter a string: "))
reverse_string = string[::-1]
print(f"reveresed string: {reverse_string}")

Enter a string:  "LKJHGFLKJHGFLKJHGFFGIUYTREIUYTREOIUYTRMNBVC"

reveresed string: "CVBNMRTYUIOERTYUIERTYUIGFFGHJKLFGHJKLFGHJKL"

In [14]:
#Q2 Check if a string is Palindrome

In [2]:
string = input("Enter string: ")

if  string ==string[::-1]:
    print("String is palindrome")
    print(len(string))
    print(string.upper())
else:
    print("string is not palindrome")
    print(len(string))
    print(string.lower())

Enter string:  "LKUYLKJH"

string is not palindrome
10
"lkuylkjh"

In [ ]:
#Q3 Convert string to uppercase

In [12]:
Upper_case = str(input("Enter letters in lower case:"))

print(Upper_case.upper())

Enter letters in lower case: "asdfg"

"ASDFG"

In [9]:
#Q4 Convert a string to lower case

In [11]:
lower_case = str(input("Enter letters in upper case:"))

print(lower_case.lower())

Enter letters in upper case: "ASDFG"

"asdfg"

In [13]:
#Q5Count no of vowels in a string

In [11]:
def count_vowel(string):
    vowels ="aeiouAEIOU"
    vowel_count = 0
    
    for bar in string:
        if bar in vowels: 
            vowel_count +=1
            
    return vowel_count

user_string= (input("enter string: "))
num_vowels = count_vowel(user_string)           
print("vowels count:" ,num_vowels)

enter string:  "lkjhfdsrtyuio"

vowels count: 3

In [ ]:
#Q6Count the number of consonants in a string.

In [18]:
def count_consonents(string):
    consonents = "zxcvrtZXCVRT"
    consonents_count = 0 
    
    for zo in string:
        if zo in consonents:
            consonents_count +=1
            
    return consonents_count

user_string=(input("enter string: "))
num_consonents = count_consonents(user_string)
print("no of consonents:", num_consonents)

enter string:  "zxr

no of consonents: 3

In [31]:
#Q7Remove all whitespaces from a string.

In [42]:
User_String= input("Enter String :")

print(User_String.replace(" " , ""))

Enter String : "Science is intersting"

"Scienceisintersting"

In [ ]:
#Q8Find the length of a string without using the `len()` function.

In [59]:
string= input("Enter your string:")
count =0
    
for i in string:
    count +=1
print("length of the string" , count)

Enter your string: "science is beautiful"

length of the string 22

In [60]:
#Q9Check if a string contains a specific word.

In [93]:
G="When growing microbes or animal cells in a stirred-tank reactor, it is critical to choose the impeller type that is best suited to your process. Select the wrong impeller, and you could make chop suey of your filamentous fungi"

specific_word = "mani"

if specific_word in G:
    print(f"This string contains: '{specific_word}'")
else:
    print(f"This string does not contains: '{specific_word}'")

This string does not contains: 'mani'

In [96]:
G="When growing microbes or animal cells in a stirred-tank reactor, it is critical to choose the impeller type that is best suited to your process. Select the wrong impeller, and you could make chop suey of your filamentous fungi"

specific_word = input("Enter specific word:")

if specific_word in G:
    print(f"This string contains: '{specific_word}'")
else:
    print(f"This string does not contains: '{specific_word}'")

Enter specific word: TATA SKY

This string does not contains: 'TATA SKY'

In [1]:
#Q10Replace a word in a string with another word.

In [29]:
G="When growing microbes or animal cells in a stirred-tank reactor, it is critical to choose the impeller type that is best suited to your process. Select the wrong impeller, and you could make chop suey of your filamentous fungi"

print("Modified Sentence :" , G.replace("animal" , "human"))

Modified Sentence : When growing microbes or human cells in a stirred-tank reactor, it is critical to choose the impeller type that is best suited to your process. Select the wrong impeller, and you could make chop suey of your filamentous fungi

In [30]:
#Q11Count the occurrences of a word in a string.

In [63]:
H= "When growing microbes or human cells in a stirred-tank reactor, it is critical to choose the impeller type that is best suited to your process. Select the wrong impeller, and you could make chop suey of your filamentous fungi"

H.count("is")

2

In [ ]:
#Q12Find the first occurrence of a word in a string.

In [7]:
P="Here is a schematic of the redox reactions of the Clark-type electrode used to measure oxygen production in chloroplasts (and oxygen consumption in mitochondria)"

specific_word = input("Enter specific word:")

index = P.find("specific_word")

if index == -1:
    print(f"This string contains '{specific_word}', at index{index}")
else:
    print(f"This string does not contains '{specific_word}'.")

Enter specific word: mani

This string contains 'mani', at index-1

In [ ]:
#Q13Find the last occurrence of a word in a string.

In [6]:
P = "Here is a schematic of the redox reactions of the Clark-type electrode used to measure oxygen production in chloroplasts (and oxygen consumption in mitochondria)"

specific_word = input("Enter a specific word: ")

index = P.rfind(specific_word)

if index != -1:
    print(f"This string contains '{specific_word}' at index {index}.")
else:
    print(f"This string does not contain '{specific_word}'.")

Enter a specific word:  is

This string contains 'is' at index 5.

In [ ]:
#Q14Split a string into a list of words.

In [1]:
H= "Select the wrong impeller, and you could make chop suey of your filamentous fungi"

H.split()

['Select',
 'the',
 'wrong',
 'impeller,',
 'and',
 'you',
 'could',
 'make',
 'chop',
 'suey',
 'of',
 'your',
 'filamentous',
 'fungi']

In [ ]:
#Q15 Join a list of words into a string.

In [8]:
i= ['When','what','why','whom', 'which' , 'are ',  "5y's"]
print(' '.join(i))

When what why whom which are  5y's

In [ ]:
#Q16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [14]:
O="As of 2023, India ranks 14th in the list of most powerful countries."
print(O.replace(" ", "_"))

As_of_2023,_India_ranks_14th_in_the_list_of_most_powerful_countries.

In [ ]:
#Q17 Check if a string starts with a specific word or phrase.

In [34]:
def starts_with(text, prefix):

    is_start = text.startswith(prefix)
    
    return is_start

text ="Hello World iam ROBOT 5.0"
prefix = "World"
result =starts_with(text, prefix)
    
if result:
    print("This string started with Prefix.")
else:
    print("This is not started with Prefix.")

This is not started with Prefix.

In [36]:
def ends_with_sufix(text, sufix):
    
    is_ends = text.endswith(sufix)
    
    return is_ends

text = "Hello word iam robot 8.0"
sufix = "8.0"
result= ends_with_sufix(text, sufix)

if result:
    print("This string ends with sufix")
else:
    print("This string not ending with sufix")

This string ends with sufix

In [37]:
#Q17 Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
def string_to_title(text):
    
    title_case = text.title()
   
    return title_case

text="hello word iam robot 8.0"

print("Title case :", string_to_title(text))

Title case : Hello Word Iam Robot 8.0

In [ ]:
#Q18 Find the longest word in a string.

In [13]:
def find_longest_word(text):
    
    words = text.split()
    
    longest_word = ""
    max_length = 0
    
    for word in words:
        
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
        
    return longest_word
    
text = "This is an example sentence with some long words."
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: sentence

In [8]:
def find_longest_word(text):
    
    words = text.split()
    
    longest_word = ""
    max_length = 0
    
    for word in words:
        
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
  
    return longest_word

text = "This is an example sentence with some long words."
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: sentence

In [29]:
def find_shortest_word(text):
    
    words = text.split()
    
    shortest_word = None
    min_length = float('inf')
    
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
            
    return shortest_word

text = "continue to login using System/Outlook password"
shortest_word = find_shortest_word(text)
print("Shortest_word :" , shortest_word)

Shortest_word : to

In [ ]:
#Q22 Reverse the order of words in a string

In [4]:
def Reverse_the_order(string):
    split_order = string.split()
    reversed_word = split_order[::-1]

    reversed_string = ' '.join(reversed_word)
    
    return reversed_string
    
string = input("Enter String")
reversed_string = Reverse_the_order(string)
print("Reversed_string:" , reversed_string)

Enter String MANI WHERE ARE U

Reversed_string: U ARE WHERE MANI

In [ ]:
#23 Check if a string is alphanumeric

In [18]:
def is_alphanumeric(text):
    return text.isalnum()
text = "DATA"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")
    
#(In this if we are giving alpha also result was alpha numeric)

The string is alphanumeric.

In [ ]:
#Q24 Extract all digits from a string

In [15]:
def Extract_digits(string):
    digits = ""
    
    for char in string:
        if char.isdigit():
            digits += char
            
    return digits

string = "The string is not alphanumeric 1234567 6543222212345676543217 54ew"
extracted_digits = Extract_digits(string)
print("Extracted digits:", extracted_digits)

Extracted digits: 1234567654322221234567654321754

In [7]:
#Q25 Extract all alphabets from a string

In [19]:
def Extract_alphabets(string):
    alphabets = ''.join([char for char in string if char.isalpha()])
            
    return alphabets

string = "Mani123"
result = Extract_alphabets(string)
print(result)

def extract_alphabets(input_string):
    alphabets = ''.join([char for char in input_string if char.isalpha()])
    return alphabets

# Example input string
input_string = "Hello123World456"
result = extract_alphabets(input_string)
print(result)

Mani
HelloWorld

In [ ]:
#Q26 Count number of upper case letters in a string

In [45]:
def count_num_uppercase(string):
    upper_case = sum(1 for char in string if char.isupper())
    return upper_case
                                
string = "maniKAN"
result = count_num_uppercase(string)
print(result)

3

In [ ]:
#Q27 Count lower case letters in a string

In [41]:
def count_lowercase(string):
    lower_case =sum(1 for char in string if char.islower())
    return lower_case

string = "DWE@1234;lkjhg"
lower_case = count_lowercase(string)
print("lower case :" , lower_case)

lower case : 5

In [ ]:
#Q28 swap ease case in string

In [46]:
def swap_eachcase(string):
    swap_case = string.swapcase()
    return swap_case

string = "123098maaaasdfghASDFGHJHGFDSA"
swaped_case = swap_eachcase(string)
print("SC:" , swaped_case)

SC: 123098MAAAASDFGHasdfghjhgfdsa

In [47]:
#Q29 Remove a specific word from a string

In [54]:
def remove_specificword(string):
    New_word = string.replace(specific_word , "")
    
    return New_word

string =input("Enter your specific word")
specific_word = input("Enter specific_word")
NewWord = remove_specificword(string)
print("New word, :" , NewWord)

Enter your specific word "Delhi is the capital of India"
Enter specific_word is

New word, : "Delhi  the capital of India"

In [55]:
#Q30  Check if a string is a valid email address.

In [16]:
import re 

def valid_email(address):
    pattern  = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern , address):
        return True 
    else :
        return False 
     
address = "mani.k@gmail.com"
address1 = "l@l.m"

result = valid_email(address)
result1 = valid_email(address1)
print(result)
print(result1)

True
True

In [13]:
# Q31  Extract the username from an email address string.

In [24]:
def extract_name(email):
    extracted_email = email.split('@')[0] 
    return extracted_email

email = input("Enter Mail")
result = extract_name(email)
print("Extracted email", result)

Enter Mail manikanta.kotni@gmail.com

Extracted email manikanta.kotni

In [ ]:
#Q32 Extract the domain name from an email address string

In [25]:
def extract_domain(mail):
    Extracted_domain = mail.split('@')[1]
    return  Extracted_domain
    
mail = input("Enter mail")
result = extract_domain(mail)
print("Extracted_domain", result)

Enter mail manikanta.kotni@gmail.com

Extracted_domain gmail.com

In [26]:
#Q33 Replace multiple spaces in a string with a single space

In [21]:
def removemulspace(string):
    removed = ' '.join(string.split())
    return removed

string = input("Enter string")
result = removemulspace(string)
print(result)

Enter string Celebrities with autism who are changing our perceptions

Celebrities with autism who are changing our perceptions

In [22]:
#Q34 Check if a string is a valid URL

In [3]:
from urllib.parse import urlparse 

def Validate_(url):
    
    try:
        result = urlparse(url)
        return all([result.scheme , result.netloc])
    except ValueError:                               
        return False

url1 = "https://green-chef-kjnnw.pwskills.app/lab/tree/work/%2220th_August_String_Based.ipynb"
url2 = "://green-chef-kjnnw.pwskills.app/lab/tree/work/%2220th_August_String_Based.ipynb"
url3 = "https://green-chef-kjnnw.pwskills.app/lab/tree/work/%2220th_August_String_Based.ipynb"
url4 = "https://www.bing.com/search?pglt=41&q=match+url+regex&cvid=5c151f286f264853a247270e17ed3408&aqs=edge.1.69i57j0l8.6985j0j1&FORM=ANNTA1&PC=HCTS"

result1 = Validate_(url1)
result2 = Validate_(url2)
result3 = Validate_(url3)
result4 = Validate_(url4)

print(result1)
print(result2)
print(result3)
print(result4)

True
False
True
True

In [ ]:
#Q35  Extract the protocol (http or https) from a URL string.

In [99]:
def extract_http(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
    
url6 = "https://www.example.com"
url7= "http://google.com"
url8 = "ftp://ftp.example.com"

protocol6 = extract_http(url6)
protocol7 = extract_http(url7)
protocol8 = extract_http(url8)


print("protocol6 : " , protocol6)
print("protocol7 : " , protocol7)
print("protocol8 : " , protocol8)

protocol6 :  https
protocol7 :  http
protocol8 :  ftp

In [2]:
#Q36 Find the frequency of each character in a string

In [29]:
def freq_char(string):
    frequency = {}
    
    for char in string:
        if char in frequency:
            frequency[char] += 1
        else :
            frequency[char] = 1 
    return frequency 

string = input("Enter String")
freq_C = freq_char(string)
for char, freq in freq_C.items():
    print(f"frequency : '{char}' , letter' : {freq}'")

Enter String "at some level"

frequency : '"' , letter' : 2'
frequency : 'a' , letter' : 1'
frequency : 't' , letter' : 1'
frequency : ' ' , letter' : 2'
frequency : 's' , letter' : 1'
frequency : 'o' , letter' : 1'
frequency : 'm' , letter' : 1'
frequency : 'e' , letter' : 3'
frequency : 'l' , letter' : 2'
frequency : 'v' , letter' : 1'

In [30]:
#37 Remove all punctuation from a string

In [44]:
import string

def remove_punt(sstring):
    
    translator = str.maketrans("", "", string.punctuation)
    
    cleaned_string = sstring.translate(translator)
    
    return cleaned_string

sstring= "Hello thom's , How are you?"

cleaned_string = remove_punt(sstring)

print("original string :" , sstring)
print("cleanedstring :" , cleaned_string)

original string : Hello thom's , How are you?
cleanedstring : Hello thoms  How are you

In [45]:
#38 Check if a string contains only digits

In [62]:
def contains_only_digits(string):
    
    return string.isdigit()

# Example strings
string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

# Check if strings contain only digits
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

# Print the results
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [63]:
#Q39 Check if a string contains only alphabets.

In [66]:
def contains_only_alpha(string):
    
    return string.isalpha()

# Example strings
string1 = "12345"
string2 = "Helloooooooooo"
string3 = "456.789"

# Check if strings contain only digits
result1 = contains_only_alpha(string1)
result2 = contains_only_alpha(string2)
result3 = contains_only_alpha(string3)

# Print the results
print(f"'{string1}' contains only alpha:", result1)
print(f"'{string2}' contains only alpha:", result2)
print(f"'{string3}' contains only alpha:", result3)

'12345' contains only alpha: False
'Helloooooooooo' contains only alpha: True
'456.789' contains only alpha: False

In [67]:
#Q40 Convert a string to a list of characters

In [89]:
def convert_string_to_list(string):
    listed = list(string)
    return listed

string = "At some level, there will be a need for/while to iterate the string. And an if statement to count a single character "

result = convert_string_to_list(string)

print(result)

['A', 't', ' ', 's', 'o', 'm', 'e', ' ', 'l', 'e', 'v', 'e', 'l', ',', ' ', 't', 'h', 'e', 'r', 'e', ' ', 'w', 'i', 'l', 'l', ' ', 'b', 'e', ' ', 'a', ' ', 'n', 'e', 'e', 'd', ' ', 'f', 'o', 'r', '/', 'w', 'h', 'i', 'l', 'e', ' ', 't', 'o', ' ', 'i', 't', 'e', 'r', 'a', 't', 'e', ' ', 't', 'h', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g', '.', ' ', 'A', 'n', 'd', ' ', 'a', 'n', ' ', 'i', 'f', ' ', 's', 't', 'a', 't', 'e', 'm', 'e', 'n', 't', ' ', 't', 'o', ' ', 'c', 'o', 'u', 'n', 't', ' ', 'a', ' ', 's', 'i', 'n', 'g', 'l', 'e', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', ' ']

In [90]:
#Q41 Check if two strings are anagrams.

In [1]:
def check2string_anagram(Firststring , Secondstring):
    Firststring = Firststring.replace(" " , " ").lower()
    Secondstring = Secondstring.replace(" " , " ").lower()

    return sorted(Firststring) == sorted(Secondstring)
        
Firststring = "Silent"
Secondstring = "listen"
Three = "signature"
Four = "atruesign"

result1 = check2string_anagram(Firststring , Secondstring)
result2 = check2string_anagram(Three , Four)

print(f" '{Firststring}' and '{Secondstring}' are :", result1)
print(f" '{Three}' and '{Four}' are :", result2)

 'Silent' and 'listen' are : True
 'signature' and 'atruesign' are : True

In [31]:
#Q42 Encode a string using a Caesar cipher

In [42]:
def caesar_cipher(text, shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char
        encoded_text += encoded_char
    return encoded_text
text = "Hello, world!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [76]:
def ceaser_chhiper(text,shift):
    endoced_text = ""
    for x in text:
        if x.isalpha():
            endoced_x = chr((ord(x) + shift- ord('a')) %26 + ord('a'))
        else:
            endoced_text = x          
        endoced_text += endoced_x
    return endoced_text 

text = "Hello"
shift = 2
endoced_text  = ceaser_chhiper(text,shift)
print("Encoded text:", endoced_text)

Encoded text: dgnnq

In [66]:
#43 Decode a Caesar cipher encoded string

In [79]:
def caesar_cipher_decoder(text, shift):
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char
    return decoded_text
text = "dgnnq"
shift = 2
decoded_text = caesar_cipher_decoder(text, shift)
print("Decoded text:", decoded_text)

Decoded text: bello

In [30]:
#44 Find the most frequent word in a string

In [31]:
import re 
from collections import Counter 

def most_frequent_word(string):
    cleanedstring = re.sub(r'[^\w\s]','',string).lower()
    words = cleaned_string.split()
    word_counter =  Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word
    
string = "on going on to on y y y y y y y y y y y y y y  Delhi on Im Im Im Im Im  August on 15th"
result = mostfrequent_word(string)
print ("mostfrequent_word:",result)

mostfrequent_word: y

In [32]:
#45 Find all unique words in a string.

In [50]:
def find_unique_words(string):
    words = string.split()
    unique_words = set()
    
    for word in words: 
        unique_words.add(word)
        
        unique_words_list = list(unique_words)
    return unique_words_list

string = "Variables and Data Types: Defining variables and working with various data types, such as integers, strings, lists, and dictionaries."
result = find_unique_words(string)
print (result)

['such', 'working', 'with', 'data', 'dictionaries.', 'as', 'Variables', 'various', 'and', 'Data', 'integers,', 'types,', 'Defining', 'variables', 'strings,', 'Types:', 'lists,']

In [53]:
# 46 Count the number of syllables in a string.

In [14]:
import re 

def Count_syllabels(string):
    vowel_group = re.findall(r'[aeiou]+' , string, re.IGNORECASE)
    return len(vowel_group)

string1 = "hello"
string2 = "magic"
string3 = "banana"
    
result1 = Count_syllabels(string1)
result2 = Count_syllabels(string2)
result3 = Count_syllabels(string2)

print (f" {string1} has  {result1} syllabel")
print (f" {string2} has  {result2} syllabel")
print (f" {string3} has  {result3} syllabel")

 hello has  2 syllabel
 magic has  2 syllabel
 banana has  2 syllabel

In [ ]:
# 47 Check if a string contains any special characters.

In [20]:
import re 
def check_Specialcharacter(string):
    pattern = re.findall(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]' , string )
    return len(pattern)

string1 = "hello#$%^&"
string2 = "magic#$%^&"
string3 = "banana(*&^"
string4 = "banana"

result1 = check_Specialcharacter(string1)
result2 = check_Specialcharacter(string2)
result3 = check_Specialcharacter(string3)
result4 = check_Specialcharacter(string4)

print (f" {string1} has  {result1} special charaters")
print (f" {string2} has  {result2} special charaters")
print (f" {string3} has  {result3} special charaters")
print (f" {string4} has  {result4} special charaters")

 hello#$%^& has  5 special charaters
 magic#$%^& has  5 special charaters
 banana(*&^ has  4 special charaters
 banana has  0 special charaters

In [21]:
# 48 Remove the nth word from a string

In [3]:
def removen_thword(input_string, nth_word):
    words = input_string.split()
    if 0 <= nth_word < len(words):
        removed_nth_word = words.pop(nth_word)
        modified_string = ' '.join(words)  
        return removed_nth_word, modified_string
    else:
        return "Invalid nth_word index", None
input_string = "a unit of pronunciation having one vowel sound, with or without surrounding consonants, forming the whole or a part of a word; for example, there are two syllables in water and three in"
nth_word = 4  

result , modified_string= removen_thword(input_string, nth_word)

print(f"Original string: {input_string}")
print(f"Nth word: {result}")
print(f"Modified string: {modified_string}")

Original string: a unit of pronunciation having one vowel sound, with or without surrounding consonants, forming the whole or a part of a word; for example, there are two syllables in water and three in
Nth word: having
Modified string: a unit of pronunciation one vowel sound, with or without surrounding consonants, forming the whole or a part of a word; for example, there are two syllables in water and three in

In [ ]:
#  49 Insert a word at the nth position in a string.

In [64]:
def insert_nthword(string, word2insert , n_word):
    words = string.split()
    
    if 0 <= n_word < len(words):
        words.insert(n_word,word2insert)
        modified1_string = ' '.join(words)
        removed_nth_word = words.pop(n_word)
        return removed_nth_word, modified1_string , word2insert
    else:
        return "Invalid n_word index", None , None 
    
string = "a unit of pronunciation having one vowel sound, with or without surrounding consonants, forming the whole or a part of a word; for example, there are two syllables in water and three in"
n_word = 2 
word2insert = "raaja"

result , modified1_string ,inserted_word = insert_nthword(string, word2insert, n_word)

print(f"Original string: {string}")
print(f"Modified string: {inserted_word}")
print(f"Nth word: {modified1_string}")

Original string: a unit of pronunciation having one vowel sound, with or without surrounding consonants, forming the whole or a part of a word; for example, there are two syllables in water and three in
Modified string: raaja
Nth word: a unit raaja of pronunciation having one vowel sound, with or without surrounding consonants, forming the whole or a part of a word; for example, there are two syllables in water and three in

In [ ]:
# 50 Convert a CSV string to a list of lists.

In [ ]:
def csv_string_to_list(csv_string):
    
    lines = csv_string.split('\n')
    
    result = []
    
    for line in lines:
        fields = lines.split(',')
        
        result.append(fields)
        
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

In [82]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
csv_string = csv_string_to_list(csv_data)
for row in csv_string:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [1]:
# 1. Create a list with integers from 1 to 10.

In [5]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#1 find the lenght of the list without using the len() function

In [7]:
len(list(range(1,11)))

10

In [22]:
# Using for loop : 
list_ = [i for i in range(1,11)]

list_

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2 find the lenght of the list without using the len() function

In [36]:
def length_of(list_1):
    count = 0 
    for i in list_1:
        if i in (list_1):
            count += 1 
    return count

print(length_of(list_1))

list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

10

In [56]:
#3 Append an element to the end of a list.
list_11 = [ 2, 3, 4, 5, 6, 7, 8, 9, 10]
x = 11 
newlist = list_11.append(x)
print("Updated list",list_11)

Updated list [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#4 Remove an element from a list by its value.

In [3]:
list_11 = [ 2, 3, 4, 5, 6, 7, 8, 9, 10]
x = 4
newlist = list_11.pop(x)
print("Updated list",list_11)

Updated list [2, 3, 4, 5, 7, 8, 9, 10]

In [ ]:
# Q 7. Check if an element exists in a list.

In [5]:
def check_Element(list_2,element):
    for i in list_2:
        if i == element :
            return "Element avalible in list_2"
        else : 
            return "Element not avalible in list_2"
list_2 = [ 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element = int(input("Enter you element::"))
result = check_Element(list_2,element)
print (result)

Enter you element:: 2

Element avalible in list_2

In [6]:
# Q 8 Find the index of the first occurrence of an element in a list.

In [8]:
list_3 = [ 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element_to_find  = 4
index = list_3.index(element_to_find)
print(f'{index}')

2

In [ ]:
# Q 9 Find the count of the first occurrence of an element in a list.

In [11]:
list_3 = [ 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element_to_find  = 4
count = list_3.count(element_to_find)
print(f'{count}')

2

In [12]:
# Q 11 Reverse the order of elements in a list.

In [14]:
list_3 = [ 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_3[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [79]:
# Q 12. Sort a list in ascending order.

In [80]:
list_4 = [10, 9, 8, 7, 6, 5, 4, 3, 2, 10, 9, 8, 7, 6, 5, 4, 3, 2]
list_4.sort()
print(f" list in ascending order.::" , list_4)

 list in ascending order.:: [2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10, 10]

In [81]:
# Q 13 Sort a list in descending order.

In [82]:
list_5 = [10, 9, 8, 7, 6, 5, 4, 3, 2, 10, 9, 8, 7, 6, 5, 4, 3, 2]
list_5.sort(reverse=True)
print(f"list in descending order. ::", list_5)

list in descending order. :: [10, 10, 9, 9, 8, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2]

In [83]:
# Q 14 Create a list of even numbers from 1 to 20.

In [84]:
evenlist = [i for i in range(2,21,2)]
print (f"list of even numbers ::" , evenlist)

list of even numbers :: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [85]:
# Q 15 Create a list of odd numbers from 1 to 20.

In [86]:
oddlist = [i for i in range(1,20,2)]
print (f"list of odd numbers ::", oddlist)

list of odd numbers :: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [87]:
# Q 16 Find the sum of all elements in a list.

In [88]:
sumlist = [10, 10, 9, 9, 8, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2]
print(f"Sum of all elements ::" , sum(sumlist))

Sum of all elements :: 108

In [89]:
# Q 17 Find the maximum value in a list.

In [90]:
maxoflist = [10, 10, 9, 9, 8, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2]
print(f"max of all elements ::" , max(maxoflist))

max of all elements :: 10

In [91]:
# Q 18. Find the minimum value in a list.

In [93]:
minoflist = [10, 10, 9, 9, 8, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2]
print(f"max of all elements ::" , max(minoflist))

max of all elements :: 10

In [ ]:
# Q 19. Create a list of squares of numbers from 1 to 10.

In [107]:
sqaureofnum= [i**2 for i in range(10) ]
print (sqaureofnum)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [108]:
# Q 20 Create a list of random numbers.

In [151]:
import random
random_integers = [random.randint(1, 100) for _ in range(10)]
print("List of random integers:", random_integers)

List of random integers: [24, 84, 15, 48, 5, 78, 2, 39, 36, 56]

In [110]:
# Q 21 Remove duplicates from a list.

In [117]:
print (f"Removed Duplicates from the list ::",set([10, 10, 9, 9, 8, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2]))

Removed Duplicates from the list :: {2, 3, 4, 5, 6, 7, 8, 9, 10}

In [119]:
# Q 22 Find the common elements between two lists.

In [137]:
l1 = [2, 3, 4, 5,  5, 6, 7]
l2 = [7, 8, 9, 10]
list_common = [x for x in l1 if x in l2 ]
print (list_common)

[7]

In [138]:
# Q 23 Find the difference between two lists.

In [143]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

In [144]:
# Q 23 Merge two lists.

list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
list3=list1+list2
print(list3)

[10, 20, 30, 40, 50, 30, 40, 50, 60, 70]

In [145]:
# Q 24 Multiply all elements in a list by 2.

In [154]:
list4 = [10, 20, 30, 40, 50]
Multipliedby2_list = [i*2 for i in (list4)]
print(Multipliedby2_list)

[20, 40, 60, 80, 100]

In [155]:
# Q 25 Filter out all even numbers from a list.

In [72]:
y_list = [10, 20, 15, 25, 30, 40, 35, 45]
filtered_list = [x for x in my_list if x % 2 != 0]
print("Filtered list (odd numbers):", filtered_list)

Filtered list (odd numbers): [1, 3, 5, 7, 9]

In [73]:
# Q 26 Convert a list of strings to a list of integers.

In [74]:
string1 = "123456789"
stringss = [int(x) for x in string1]
print(stringss)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
# Q 27 Convert a list of integers to a list of strings.

In [76]:
string = "123456789"
strings = [str(x) for x in string]
print(strings)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [77]:
# 28 Flatten a nested list.

In [89]:
import itertools
nested_list = [[21, 22], [23, 24], [25, 26], [27, 28]]
print ("nested list", str(nested_list))
l1,l2 = list(itertools.zip_longest(*nested_list))
l1,l2=list(l1),list(l2)
print("Flatten lists", str(l1), "  ", str(l2))

nested list [[21, 22], [23, 24], [25, 26], [27, 28]]
Flatten lists [21, 23, 25, 27]    [22, 24, 26, 28]

In [79]:
# 29. Create a list of the first 10 Fibonacci numbers.

In [80]:
# # # # # # # #

In [81]:
# 33. Create a list of prime numbers up to 50.

In [82]:
# a whole number greater than 1 that cannot be exactly divided by any whole number other than itself and 1 (e.g. 2, 3, 5, 7, 11).

In [83]:
def is_prime(num):
    if num > 1:
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                return False
        return True
    return False

def prime_numbers_in_range(limit):
    primes = []
    for n in range(2, limit):
        if is_prime(n):
            primes.append(n)
    return primes

list2 = range(0, 50, 1)
result = prime_numbers_in_range(50)
print(f"list of prime numbers up to 50.",result)

list of prime numbers up to 50. [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [84]:
# 34. Split a list into chunks of size n.

In [85]:
def chunk_list(input_list, chunk_size):
    """Split a list into chunks of size chunk_size."""
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

result = chunk_list(my_list, chunk_size)
print(f"list into chunks of size n.:",result)

list into chunks of size n.: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [86]:
# 35 Find the second largest number in a list.

In [22]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15]

sorted_list = sorted(set(list1))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 14

In [23]:
# 36 Replace every element in a list with its square.

In [24]:
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2moidfied= [x**2 for x in list2 ]
print (list2moidfied)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 37 Convert a list to a dictionary where list elements become keys and their indices become values.

In [31]:
list3 = ['apple', 'ball', 'cudtord_apple' , 'Dryfruit' , 'fish']

list3Converted = {element : index for index , element in enumerate(list3)}
print("Converted dictionary:" , list3Converted)

Converted dictionary: {'apple': 0, 'ball': 1, 'cudtord_apple': 2, 'Dryfruit': 3, 'fish': 4}

In [ ]:
# 38 Shuffle the elements of a list randomly

In [52]:
import random
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
shuffeldlist = [random.sample(list2, len(list2))]
print(shuffeldlist)

[[2, 3, 1, 4, 5, 8, 9, 10, 7, 6]]

In [ ]:
# 39 Create a list of the first 10 factorial numbers.

In [66]:
def factorial(n):
    if n == 0 or n==1 :
        return 1 
    else :
        return n*factorial(n-1)

n = 5 
result = factorial(n)
print(f"factorial of 5:", result)


factorial_numbers = [factorial(i) for i in range(10)]
print(f"factorial in the range of 10 :" , factorial_numbers)

factorial of 5: 120
factorial in the range of 10 : [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
# 40 Check if two lists have at least one element in common.

In [79]:
def checkcommonelements(list5,list6):
    for i in list5:
        if i in list6:
            return True 
        else :
            return False 
list5 = [1,2,3,4,5,6,7]
list6 = [8,6]
result  = checkcommonelements(list5,list6)
if checkcommonelements(list5,list6):
    print("Both list have common elements")
else :
    print("Both list does not have common elements")

Both list does not have common elements

In [71]:
# 41. Remove all elements from a list.

In [89]:
list5 = [1,2,3,4,5,6,7]
list5.clear()
print(list5)

[]

In [ ]:
# 42.Replace negative numbers in a list with 0.

In [12]:
list6 = [1,2,-3,4,5,-6,7]
for i in range(len(list6)):
    if list6[i]<0:
        list6[i] = 0 
print(list6)

[1, 2, 0, 4, 5, 0, 7]

In [1]:
# 43  Convert a string into a list of words

In [3]:
STRING_ = "Converted a string into a list of words"
STRING_.split()

['Converted', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

In [ ]:
# 44 Convert a list of words into a string.

In [18]:
TO_STRING_ = ['Converted', 'a', 'string', 'into', 'a', 'list', 'of', 'words']
' '.join(TO_STRING_)

'Converted a string into a list of words'

In [46]:
# 45 Create a list of the first n powers of 2.

In [47]:
n = 4
list0fpowers  =[ 2**i for i in range(n)]
list0fpowers

[1, 2, 4, 8]

In [48]:
# 46 Find the longest string in a list of strings.

In [67]:
def longeststring(listofstring):
    longestring = " "
    for x in listofstring:
        if len((x)) >= len(listofstring):
            longestring = x
    return longestring
    
        
listofstring = ['Converted', 'a', 'string', 'into', 'a', 'list', 'of', 'words']       
result = longeststring(listofstring)
print(result)

Converted

In [68]:
# 47 Find the shortest string in a list of strings

In [77]:
def shorteststring(listofstring1):
    shortstring = listofstring1[0]
    
    for y in listofstring1:
        if len((y)) < len(shortstring):
            shortstring = y
    return shortstring
    
        
listofstring1 = ['Converted', 'abc']       
result = shorteststring(listofstring1)
print(result)

abc

In [78]:
# 48  Create a list of the first n triangular numbers

In [23]:
def listoftriangle(n):
    listtriangle = []
   
    for i in range(1,n+1):
        listtriangl = (i*(i+1)//2)
        listtriangle.append(listtriangl)
    
    return listtriangle

result = listoftriangle(5)
print (result)

[1, 3, 6, 10, 15]

In [25]:
# 49 Check if a list contains another list as a subsequence.

In [32]:
def checksublist(subsequence,mainlist):
    sublist_index = 0 
    for element in mainlist:
        if element == subsequence[sublist_index]:
            sublist_index +=1
            if sublist_index == len(subsequence):
                return True 
    return False 

mainlist = [31, 23, 23, 34, 25, 62, 27, 82, 92, 210]
subsequence = [23]

if checksublist(subsequence,mainlist):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [ ]:
# 50. Swap two elements in a list by their indices.

In [37]:
list1 = [31, 23, 23, 34, 25, 62, 27, 82, 92, 210]
index_1 = 4 
index_2 = 9 
         
list_2 = list1[index_1]
list1[index_1] = list1[index_2]
list1[index_2] = list_2

In [68]:
# Swaped list !!
list1

[31, 23, 23, 34, 210, 62, 27, 82, 92, 25]

In [69]:
#### Tuple Based problems

In [70]:
# 1.Create a tuple with integers from 1 to 5.

In [76]:
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [72]:
#2 Access the third element of a tuple.

In [73]:
x = tuple(range(1,6))
x[2]

3

In [74]:
# 3. Find the length of a tuple without using the len() function.

In [4]:
def lenoftuple(my_tuple):
    length = 0 
    for i in my_tuple:
        if i in my_tuple:
            length += 1
    return length 
        
my_tuple = (10, 20, 30, 40, 50)
result = lenoftuple(my_tuple)
print (result)

5

In [ ]:
#4. Count the occurrences of an element in a tuple.

In [32]:
def count(targateelement , my_tuple1):
    count = 0 
    for element in my_tuple1:
        if element == targateelement:
            count += 1
    return count 
    
targateelement = 30 
my_tuple1 = (10, 30, 30, 30, 50)
result = count(targateelement , my_tuple1)
print (result)

3

In [33]:
# 4 Find the index of the first occurrence of an element in a tuple.

In [46]:
def findoccurance(targateelement , my_tuple):
    index = []
    for i, element in enumerate(my_tuple):
        if element == targateelement:
            index.append(i)
    return index 

targateelement = 30 
my_tuple = (10, 30, 30, 30, 50)
result = findoccurance(targateelement , my_tuple)
print (result)

[1, 2, 3]

In [52]:
#6. Check if an element exists in a tuple.

In [51]:
tuple1 = (1,2,3,4,5,6)
element1 = int(input("Enter your element Number "))
if element1 in tuple1:
    print(f"Element {element1} avalible in tuple1 ")
else:
    print(f"Element {element1} not avalible in tuple1 ")

Enter your element Number  5

Element 5 avalible in tuple

In [53]:
# 7. Convert a tuple to a list.

In [55]:
tuple2= (1,2,3,4,5,6)
print(list(tuple2))

[1, 2, 3, 4, 5, 6]

In [56]:
# 8 Convert a list to a tuple.

In [58]:
list2= [1,2,3,4,5,6]
print(tuple(list2))

(1, 2, 3, 4, 5, 6)

In [59]:
# 9 Unpack the elements of a tuple into variables.

In [60]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple

print(a)  
print(b)  
print(c)

1
2
3

In [61]:
# 10 Create a tuple of even numbers from 1 to 10.

In [101]:
even_numbers_tuple = tuple(x for x in range(2, 11, 2))

print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [ ]:
# 11  Create a tuple of odd numbers from 1 to 10

In [105]:
odd_numbers_tuple = tuple(x for x in range(1, 11, 2))

print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [106]:
# 12 Concatenate two tuples.

In [107]:
tuple3 = (2, 4, 6, 8, 10)
tuple4 = (1, 3, 5, 7, 9)
tuple3+tuple4

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [108]:
# 13  Repeat a tuple three times.

In [111]:
tuple5 = (2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
print (tuple5*3)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [1]:
# 14. Check if a tuple is empty.

empty_tuple = ()
non_empty_tuple = (1,2,3)
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [2]:
# 15 Create a nested tuple.

In [6]:
tuple7 = ((1,(2,3),13))
print(tuple7)

(1, (2, 3), 13)

In [7]:
# 16 Access the first element of a nested tuple.

In [9]:
tuple7 = ((1,(2,3),13))
tuple7[1]

(2, 3)

In [10]:
# 17. Create a tuple with a single element.

In [14]:
tuplewithsingleelement = (2,)
print(tuplewithsingleelement)

(2,)

In [15]:
# 18. Compare two tuples.

In [33]:
tuple1 = (6, 8, 6)
tuple2 = (6, 8, 5)
print("Comparision")
print("1:", tuple1 == tuple2)
print("2:", tuple1 != tuple2) 
print("3:", tuple1 < tuple2)   
print("4:", tuple1 <= tuple2)  
print("5:", tuple1 > tuple2)   
print("6:", tuple1 >= tuple2)

Comparision
1: False
2: True
3: False
4: False
5: True
6: True

In [34]:
# 19 Delete a tuple

In [36]:
tuple1 = (6, 8, 6)
del tuple1
print (tuple1)

NameError: name 'tuple1' is not defined

In [ ]:
# 20 Slice a tuple.

In [40]:
tuple0 = (2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
tuple0[2:5]

(6, 8, 10)

In [41]:
# 21 Find the maximum value in a tuple.

In [43]:
tuple0 = (2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
max(tuple0)

10

In [44]:
# 22 find the minimum value in a tuple.

In [45]:
tuple10 = (2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
min(tuple10)

1

In [ ]:
#23 Convert a string to a tuple of characters.

In [49]:
string = "We can access a tuple's elements by referring to the index number. Remember that the index in a Python tuple starts from '0'. To access elements in a tuple, we provide the index (as integer) inside the square brackets ( [ ] ), as shown below. To access the elements from the end of the tuple, we use negative indexing."
print(tuple(string))

('W', 'e', ' ', 'c', 'a', 'n', ' ', 'a', 'c', 'c', 'e', 's', 's', ' ', 'a', ' ', 't', 'u', 'p', 'l', 'e', "'", 's', ' ', 'e', 'l', 'e', 'm', 'e', 'n', 't', 's', ' ', 'b', 'y', ' ', 'r', 'e', 'f', 'e', 'r', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 'i', 'n', 'd', 'e', 'x', ' ', 'n', 'u', 'm', 'b', 'e', 'r', '.', ' ', 'R', 'e', 'm', 'e', 'm', 'b', 'e', 'r', ' ', 't', 'h', 'a', 't', ' ', 't', 'h', 'e', ' ', 'i', 'n', 'd', 'e', 'x', ' ', 'i', 'n', ' ', 'a', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 't', 'u', 'p', 'l', 'e', ' ', 's', 't', 'a', 'r', 't', 's', ' ', 'f', 'r', 'o', 'm', ' ', "'", '0', "'", '.', ' ', 'T', 'o', ' ', 'a', 'c', 'c', 'e', 's', 's', ' ', 'e', 'l', 'e', 'm', 'e', 'n', 't', 's', ' ', 'i', 'n', ' ', 'a', ' ', 't', 'u', 'p', 'l', 'e', ',', ' ', 'w', 'e', ' ', 'p', 'r', 'o', 'v', 'i', 'd', 'e', ' ', 't', 'h', 'e', ' ', 'i', 'n', 'd', 'e', 'x', ' ', '(', 'a', 's', ' ', 'i', 'n', 't', 'e', 'g', 'e', 'r', ')', ' ', 'i', 'n', 's', 'i', 'd', 'e', ' ', 't', 'h', 'e', ' ', 's', 'q', 'u', 'a', 'r', 'e', ' ', 'b', 'r', 'a', 'c', 'k', 'e', 't', 's', ' ', '(', ' ', '[', ' ', ']', ' ', ')', ',', ' ', 'a', 's', ' ', 's', 'h', 'o', 'w', 'n', ' ', 'b', 'e', 'l', 'o', 'w', '.', ' ', 'T', 'o', ' ', 'a', 'c', 'c', 'e', 's', 's', ' ', 't', 'h', 'e', ' ', 'e', 'l', 'e', 'm', 'e', 'n', 't', 's', ' ', 'f', 'r', 'o', 'm', ' ', 't', 'h', 'e', ' ', 'e', 'n', 'd', ' ', 'o', 'f', ' ', 't', 'h', 'e', ' ', 't', 'u', 'p', 'l', 'e', ',', ' ', 'w', 'e', ' ', 'u', 's', 'e', ' ', 'n', 'e', 'g', 'a', 't', 'i', 'v', 'e', ' ', 'i', 'n', 'd', 'e', 'x', 'i', 'n', 'g', '.')

In [46]:
# 24 Convert a tuple of characters to a string.

In [47]:
tuple10 = (2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
str(tuple10)

'(2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)'

In [50]:
# 25. Create a tuple from multiple data types.

In [52]:
tuple11 = (1,"1",True,[1,2],(3,4))
print(tuple11)

(1, '1', True, [1, 2], (3, 4))

In [53]:
# 26 Check if two tuples are identical.

In [54]:
tuple12 = (2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
tuple13 = (2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

if tuple12 == tuple13:
    print("tuple12 & tuple13 are identical")
else :
    print("tuple12 & tuple13 are not identical")

tuple12 & tuple13 are identical

In [55]:
# 27 Sort the elements of a tuple.

In [71]:
tuple14 = (2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
print(set(tuple14))
def sorttuple(tuple14):
    for i in tuple14:
        if i[0] <= len(tuple14):
            print(i)

tuple14 = [(1, 2), (3, 4), (5, 6)]
sorttuple(tuple14)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
(1, 2)
(3, 4)

In [ ]:
# 28 Convert a tuple of integers to a tuple of strings.

In [83]:
tuple14 = (2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)
print(f"{tuple14}")

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [ ]:
# 29 Convert a tuple of strings to a tuple of integers.

In [5]:
tuple90 = ("01" , "10", "11" )

tuple90integers = tuple(int(item) for item in tuple90)

print ("tuple90integers" , tuple90integers)

tuple90integers (1, 10, 11)

In [6]:
# 30 Merge two tuples.

In [9]:
tuple11 = (11, 12)
tuple13 = (13, 14)

merged_tuple = tuple11 + tuple13

print("Merged tuple:", merged_tuple)

Merged tuple: (11, 12, 13, 14)

In [10]:
# 31 Flatten a nested tuple.

In [15]:
def flatten_tupple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item,tuple):
            flattened.extend(flatten_tupple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
result =  tuple(flatten_tuple(nested_tuple))
print(result)

(1, 2, 3, 4, 5, 6, 7, 8)

In [16]:
# 32 Create a tuple of the first 5 prime numbers.

In [29]:
def tupleofprime5(n):
    if n <= 1:
        return False 
    for i in range(2, int(n ** 0.5) + 1):
        if n%i ==0 :
            return False
    return True 

prime_numbers_list = [n for n in range(2, 100) if tupleofprime5(n)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [30]:
# 33 Check if a tuple is palindrome

In [34]:
def check_palindraome(tuple12):
    if tuple12[0::] == tuple12[::-1]:
        return "Tuple is Palindrome"
    else:
        return "Tuple is not Palindrome"
tuple12 = (1,2,3,2,1)
check_palindraome(tuple12)

'Tuple is Palindrome'

In [ ]:
# 34 Create a tuple of squares of numbers from 1 to 5.

In [62]:
def print_sqaure(n):
    printed_sqaures = (i**2 for i in range(1,n+1))
    for sqaure in printed_sqaures:
        print(sqaure)
n = 5
(print_sqaure(n))

1
4
9
16
25

In [ ]:
# 35 Filter out all even numbers from a tuple.

In [24]:
def filter_even_num(tuple14):
    even_num = ()
    for i in tuple14:
        if i%2 == 0 :
            even_num += (i,)
    return even_num

tuple14 = (1, 2, 3, 4, 5, 6, 7, 8)
filter_even_num(tuple14)

(2, 4, 6, 8)

In [25]:
# 36. Multiply all elements in a tuple by 2.

In [37]:
def mutly_all_elements(tuple14):
    num = ()
    for i in tuple14:
        if i*2 >=1 :
             num += (i*2,)
    return num

tuple14 = (1, 2, 3, 4, 5, 6, 7, 8)
mutly_all_elements(tuple14)

(2, 4, 6, 8, 10, 12, 14, 16)

In [38]:
#37 Create a tuple of random numbers.

In [54]:
import random 
random_num = tuple(random.randint(1,100) for _ in range(10))
print("random_num " , random_num)

random_num  (3, 4, 89, 73, 14, 13, 51, 48, 62, 56)

In [55]:
# 38 Check if a tuple is sorted.

In [77]:
def check_sorteda_tuple(tuple17):
    for i in range(len(tuple17)-1):
        if tuple17[i] > tuple17[i+1]:
            return "Not a sorted tuple"
    return "It is a sorted tuple"
    
tuple17 = (5,4,2,1)
check_sorteda_tuple(tuple17)

'Not a sorted tuple'

In [78]:
#39 Rotate a tuple to the left by n positions.

In [5]:
def rotate_tuple(tuple20,n):
    n = n%len(tuple20)
    rotate_tuple = tuple20[n:] + tuple20[:n]
    return rotate_tuple
n = 4
tuple20 = (6,8,6,2,6,7,5,5,5)
rotate_tuple(tuple20,n)

(6, 7, 5, 5, 5, 6, 8, 6, 2)

In [ ]:
#40 Rotate a tuple to the right by n positions.

In [1]:
def rotate_tuple(tuple20,n):
    n = n%len(tuple20)
    rotate_tuple = tuple20[-n:] + tuple20[:n]
    return rotate_tuple
n = 4
tuple20 = (6,8,6,2,6,7,5,5,5)
rotate_tuple(tuple20,n)

(7, 5, 5, 5, 6, 8, 6, 2)

In [2]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

In [13]:
def fibonacci_(num):
    if num <= 1:
        return num
    else:
        return fibonacci_(num - 1) + fibonacci_(num - 2)

result = tuple(fibonacci_(i) for i in range(5))
print(result)

(0, 1, 1, 2, 3)

In [14]:
# 42 Swap two elements in a tuple.

In [23]:
my_tuple = (1, 2, 3, 4)
tuple_list = list(my_tuple)
tuple_list[1], tuple_list[2] = tuple_list[2], tuple_list[1]
swapped_tuple = tuple(tuple_list)
print(swapped_tuple)

(1, 3, 2, 4)

In [22]:
# 43 Reverse the elements of a tuple.

In [26]:
my_tuple = (1, 2, 3, 4)
my_tuple[::-1]

(4, 3, 2, 1)

In [47]:
# 45 Create a tuple of the first n powers of 2.

In [26]:
def powers_of_2(n):
    return tuple(2**i for i in range(n))
result_tuple = powers_of_2(5)
print(result_tuple)

(1, 2, 4, 8, 16)

In [27]:
# 46 Find the longest string in a tuple of strings.

In [32]:
def find_maxlength(tuple1):
    max_length = 0 
    longest_string = ""
    for string in tuple1 :
        if len(string) > max_length:
            longest_string = string
    return longest_string
        
tuple1 = ("46 Find the"," longest string in ", "a tuple of strings.")
result = find_maxlength(tuple1)
print(result)

a tuple of strings.

In [53]:
#47 Find the longest string in a tuple of strings.

In [54]:
def find_minlength(tuple1):
    if not tuple1 :
        return None 
    short_string = tuple1[0]
    min_length = len(short_string)
    for string in tuple1 :
        current_lenght = len(string) 
        if len(string) < min_length:
            short_string = string
    return short_string
        
tuple1 = ("46 Find the"," longest string in ", "a tuple of strings.")
result = find_minlength(tuple1)
print(result)

46 Find the

In [ ]:
# 48 Create a tuple of the first n triangular numbers

In [70]:
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

In [ ]:
# 49 Check if a tuple contains another tuple as a subsequence.

In [73]:
def is_subsequence(sub, tup):
    sub_len = len(sub)
    for i in range(len(tup) - sub_len + 1):
        if tup[i:i+sub_len] == sub:
            return "Main tuple contains subsequence tuple: True"
    return False

# Example usage
tuple1 = (1, 2, 3, 4, 5, 6)
tuple2 = (3, 4, 5)

result = is_subsequence(tuple2, tuple1)
print(result)

Main tuple contains subsequence tuple: True

In [74]:
# 50 Create a tuple of alternating 1s and 0s of length

In [88]:
n = 5 
alternate_tuple = tuple(i%2 for i in range(25))
print(alternate_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [ ]:
##@Set based problems:

In [ ]:
#1 Create a set with integers from 1 to 5

In [94]:
set(range(1,6))

{1, 2, 3, 4, 5}

In [ ]:
#2 Add an element to a set

In [96]:
my_set = {1, 2, 3, 4, 5}
newelement = 6
my_set.add(newelement)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#3 Remove an element from a set.

In [97]:
my_set = {1, 2, 3, 4, 5}
newelement = 3
my_set.remove(newelement)
print(my_set)

{1, 2, 4, 5}

In [ ]:
# 4 Check if an element exists in a set.

In [100]:
my_set = {1, 2, 3, 4, 5}
element = 6
if element in my_set:
    print("element exists in a set.")
else:
    print("element not exists in a set.")

element not exists in a set.

In [ ]:
# 5 Find the length of a set without using the len() function

In [5]:
def findlen(set1):
    length = 0 
    for i in set1:
        if i in set1:
            length += 1 
    return length 
set1 = {"Blog","has","been","removed"}
result  = findlen(set1)
print(result)

4

In [ ]:
# 6 Clear all elements from a set.

In [12]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# 7. Create a set of even numbers from 1 to 10

In [32]:
{ i for i in range(1,11) if i%2 == 0 }

{2, 4, 6, 8, 10}

In [33]:
# 8. Create a set of odd numbers from 1 to 10

In [34]:
{ i for i in range(1,11) if i%2 != 0 }

{1, 3, 5, 7, 9}

In [ ]:
# 9 Find the union of two sets

In [36]:
set1 = {2, 4, 6, 8, 10}
set2 = {1, 3, 5, 7, 9}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# 10 Find the intersection of two sets

In [37]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection_result = set1.intersection(set2)
print(intersection_result)

{3, 4, 5}

In [ ]:
# 11 Find the difference of two sets

In [41]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_result = set1.difference(set2)
print(difference_result)

{1, 2}

In [40]:
# 12. Check if a set is a subset of another set.

In [55]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

subset_result = set2.issubset(set1)
print(subset_result, " :: set 2 is a subset of  set1." )

True  :: set 2 is a subset of  set1.

In [56]:
# 13. Check if a set is a superset of another set.

In [57]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

superset_result = set1.issuperset(set2)
print(superset_result, " :: set 2 is a superset of  set1." )

True  :: set 2 is a superset of  set1.

In [58]:
# 14. Create a set from a list

In [60]:
set([1, 2, 3, 4, 5])

{1, 2, 3, 4, 5}

In [61]:
# 15 Convert a set to a list.

In [62]:
list({1, 2, 3, 4, 5})

[1, 2, 3, 4, 5]

In [63]:
# 16 Remove a random element from a set.

In [67]:
import random 
my_set = {1, 2, 3, 4, 5}
print("myset" ,my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Set after removing random element ::",my_set)

myset {1, 2, 3, 4, 5}
Set after removing random element :: {1, 2, 3, 4}

In [ ]:
# 17. Pop an element from a set.

In [98]:
my_set = {1, 2, 3, 4, 5}
newset = my_set.pop()
print("poped element : ",newset)

poped element :  1

In [99]:
# 18 Check if two sets have no elements in common.

In [104]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7}

common_elements = set1.intersection(set2)
print(common_elements)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

set()
The two sets have no elements in common.

In [105]:
# 19 Find the symmetric difference between two sets.

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 1, 2, 3}

symmetric_difference = set1^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {4, 5, 6, 7}

In [ ]:
# 20. Update a set with elements from another set.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9 ,0}

Update_set = set1.update(set2)rint("set1:",set1)
print("set2:",set2)

In [ ]:
#21 Create a set of the first 5 prime numbers.

In [4]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def first_5_prime_numbers():
    primes = []
    num = 2
    while len(primes) < 5:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

result = first_5_prime_numbers()
print(result)

[2, 3, 5, 7, 11]

In [ ]:
# 22. Check if two sets are identical.

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}

if set1 == set2:
    print ("set1 & set2 two sets are identical")
    
else:
     print ("set1 & set2 two sets are not identical")

set1 & set2 two sets are identical

In [13]:
# 23. Create a frozen set

In [22]:
elements = [2, 3, 5, 7, 11]
element_set = set(elements)

frozen_set = frozenset(elements)
frozen_set

frozenset({2, 3, 5, 7, 11})

In [ ]:
# 24. Check if a set is disjoint with another set.

In [23]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [24]:
# 25. Create a set of squares of numbers from 1 to 5.

In [47]:
def squareset(n):
    square_set = set()
    for i in range(1 , n+1  ):
        square_set.add(i**2) 
    return square_set

n = 5 
result =  squareset(n)
print (result)

{1, 4, 9, 16, 25}

In [48]:
# 26 Filter out all even numbers from a set.

In [49]:
def filterset(my_set):
    even_num = set()
    for num in my_set:
        if num % 2 == 0 :
            even_num.add(num)
    if not even_num:
        return None  
    return even_num
        
my_set = {1, 4, 9, 16, 25, 36}
result = filterset(my_set)
print("filtered Even Numbers : ", result)

filtered Even Numbers :  {16, 4, 36}

In [ ]:
# 27. Multiply all elements in a set by 2.

In [58]:
def mutiply(my_set):
    
    multiplied_set = set()
    for i  in my_set:
        multiplied_set.add(i*2)
    return (multiplied_set)

my_set = {1, 4, 9, 16, 25, 36}
result = mutiply(my_set)
print(result)

{32, 2, 18, 50, 8, 72}

In [ ]:
#  28. Create a set of random numbers.

In [16]:
import random
  
random_num = 5
random_set = set()
for _ in range(random_num):
    random_n = random.randint(1,100)
    random_set.add(random_n)
print("Generated set of random numbers:", random_set)

Generated set of random numbers: {98, 31, 62, 23}

In [36]:
# 29 Check if a set is empty.

In [35]:
def checkset(my_set):
    for _ in (my_set):
        return ( "set is not empty")
    else:
        return ( "set is empty")

my_set = {1}    
result = checkset(my_set)
print("my_set :"  , my_set)
print("result :", result)

my_set : {1}
result : set is not empty

In [37]:
# 30 Create a nested set (hint: use frozenset).

In [39]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)


nested_frozen_set = {frozen_set1, frozen_set2}

# Print the nested set
print("nested_frozen_set :", nested_set)

nested_frozen_set : {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [40]:
# 31. Remove an element from a set using the discard method.

In [41]:
my_set = {1, 2, 3, 4, 5}
newelement = 3
my_set.discard(newelement)
print(my_set)

{1, 2, 4, 5}

In [42]:
# 32 Compare two sets.

In [46]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

print("set1:", set1)
print("set2:", set2)
print("Is set1 a subset of set2?", is_subset)

set1: {1, 2, 3, 4, 5}
set2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False

In [48]:
# 33 Create a set from a string

set_of_string  = set("Create")
set_of_string

{'C', 'a', 'e', 'r', 't'}

In [49]:
# 34. Convert a set of strings to a set of integers.

In [18]:
set_of_string = {"13","65","99"}
set_of_integer = set()

for i in set_of_string:
    integer_value = int(i)
    set_of_integer.add(integer_value)
print ("set_of_string ",  set_of_string)
print ("set_of_integer:", set_of_integer)

set_of_string  {'99', '13', '65'}
set_of_integer: {65, 99, 13}

In [19]:
#35  Convert a set of integers to a set of strings.

In [24]:
set_of_integer  = {65, 99, 13}
set_of_string = set()

for i in set_of_integer:
    set_value = str(i)
    set_of_string.add(set_value)
    
print ("set_of_integer:", set_of_integer)
print ("set_of_string ",  set_of_string)

set_of_integer: {65, 99, 13}
set_of_string  {'13', '99', '65'}

In [25]:
# 36 Create a set from a tuple.

In [27]:
tuple1 = (5, 99, 13)
print(set(tuple1))

{13, 99, 5}

In [28]:
# 37  Convert a set to a tuple

In [29]:
set1 = {5, 99, 13}
print(tuple(set1))

(5, 99, 13)

In [30]:
# 38. Find the maximum value in a set.

In [66]:
def maxval(set1):
    maxval = 0

    for i in set1:
        if maxval == 0 or i >  maxval :
            maxval = i
    return maxval

set1 = {5, 99 , 13,100}
result = maxval(set1)
print(result)

100

In [67]:
max({5, 99 , 13})

99

In [ ]:
# 39. Find the minimum value in a set.

In [70]:
def minval(set1):
    minval = 0

    for i in set1:
        if minval == 0 or i <  minval :
            minval = i
    return minval

set1 = {5, 99 , 13,100}
result = minval(set1)
print(result)

5

In [81]:
# 40. Create a set from user input.

def create_set_from(user_input):
    created_set = set()

    for i in user_input.split():
        createdin_set.add(i)
    return created_set

user_input = (input("Enter the Values , you want to put in set:: "))
result = create_set_from(user_input)
print(result)

Enter the Values , you want to put in set::  2

{'2'}

In [82]:
# 41. Check if the intersection of two sets is empty.

In [92]:
set1 = {}
set2 = {}
updated_set = set1.intersection(set2)
print(updated_set)

# It is AttributeError

AttributeError: 'dict' object has no attribute 'intersection'

In [93]:
# 42 Create a set of the first 5 Fibonacci numbers.

In [118]:
def first_5_Fibonacci(n):
    if n <= 0:
        return "Please enter a positive integer for the number of Fibonacci numbers."

    fibonacci_set = set()

    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b

    return fibonacci_set

number = 5
result = first_5_Fibonacci(number)
print(result)

{0, 1, 2, 3}

In [121]:
#43 Remove duplicates from a list using sets.
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
print("Removed duplicates from original_list:", set(original_list))

Removed duplicates from original_list: {2, 4, 6, 8, 10, 12, 14}

In [122]:
# 44 .Check if two sets have the same elements, regardless of their count.

In [132]:
def check_same_elements(set1, set2):
    set1 = {1, 2, 3, 2, 1}
    set2 = {1,2,3}
    return set1 == set2

result = check_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [ ]:
# 45 Create a set of the first n powers of 2

In [11]:
def power(a,n):
    
    set_of_2_powers = set()
    
    for i in n :
        if i ==0 :
            set_of_2_powers.add(1)
        else:
            set_of_2_powers.add(a ** i) 
    return set_of_2_powers

a = 2 
n = range(0,10)
power(a,n)
result = power(a, n)
print(sorted(result))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [16]:
# 46. Find the common elements between a set and a list.

In [23]:
set1 = {1, 2, 3, 2, 1}
list1 = [1,2,3]
print("common elements between a set and a list:",set1.intersection(list1))

common elements between a set and a list: {1, 2, 3}

In [ ]:
#47 Create a set of the first n triangular numbers.:

In [26]:
def listoftriangle(n):
    listtriangle = set()
   
    for i in range(1,n+1):
        listtriangl = (i*(i+1)//2)
        listtriangle.add(listtriangl)
    
    return listtriangle

result = listoftriangle(5)
print (result)

{1, 3, 6, 10, 15}

In [27]:
# 48 Check if a set contains another set as a subset.

In [33]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

print("set1:", set1)
print("set2:", set2)


if is_subset is False:
    print( "set1 is not a subset of set2")

set1: {1, 2, 3, 4, 5}
set2: {4, 5, 6, 7, 8}
set1 is not a subset of set2

In [ ]:
# 49. Create a set of alternating 1s and 0s of length n.

In [49]:
def set_of_alternatives(n):
    set_of_alternative = set()
    for i in range(n) :
        if i%2 == 0 :
            set_of_alternative.add(1)
        else : 
            set_of_alternative.add(0)
    return set_of_alternative
    
n = 6
result = set_of_alternatives(n)

print(result)

{0, 1}

In [50]:
# 50. Merge multiple sets into one.

In [52]:
set1 = {25,35}
set2 = {225,3457}
set3 = {225,3445}

print("Merged_set:",set1.union(set2,set3))

Merged_set: {3457, 225, 35, 3445, 25}